.day34 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.day34:after {
  content: "";
  height: 100vh;
}

.day34 .counter-wrapper * {
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
}
