.div27{
    margin: auto;
    background-color:transparent;
    width:600px;
    height:200px;
}
.add27
{
    margin-top: 20px;
    margin-left: 40%;
    font-size: 20px;
    color:blue;
    font-family: "lobster",cursive;
    text-align: center;
    font-weight: 700;
    outline-color: black;
    border:1px solid black;
}
.addbtn27{
   margin-left:40%;
   text-align: center;
}
.todos27{
    text-align: center;
    display: inline;
    margin-right: 20px;
}
