*{
    margin: 0;
    padding: 0;
}
.titled{
    margin-left: 36vw;
    display: inline-block;
    font-size: x-large;
}
.number{
    display: inline-block;
    margin-left: 5vw;
    font-size: x-large;
}
input{
    height: 6vh;
    width: 12vw;
    border: 2px solid green;
    border-radius: 10px;
}
.tracker{
    text-align: center;
    margin-bottom: 6vh;
    border: 2px solid black;
    color: white;
    background-color:green;
}
.start-add , .calorie-text{
    text-align: center;
    margin-top: 2vh;
    font-family:monospace;
    margin-left: 2vw;
    font-size: x-large;

}
h5{
    font-size: xx-large;
    text-align: justify;
}
.border{
    border:none;
    width: 38vw;
    margin-left: 30vw;
    border-radius: 10px;
    margin-top: 4vh;
    height: 150px;
    display: inline-block;
    background-color: green;
    box-shadow: 0px 0px 4px 6px rgb(198, 240, 119);
}
